
header{
  background-color: rgba(58, 57, 56, 0.488);
  margin: 2rem;
  margin-bottom: 35rem;
  margin-top: 1rem;
  border-radius: 10px;
  border: 10px solid rgb(237, 159, 117);
}

@keyframes color-change {
  0% {color: rgb(45, 182, 150);}
  100% {color: rgb(171, 172, 171);}
}

.header {
  animation: color-change 4s infinite;
}

#totalRow {
  background-color: rgba(237, 159, 117);
}

#totalRow > td {
  color: black;
}

.header{
  font-family: 'Licorice';
  font-size: 100px; 
  min-width: 450px;
  max-height: 300px;
  text-align: center;
  padding: 1px;
  }

.info-box{
  display: flex;
  flex-direction:column; 
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; 
  align-content: center; 
}

.h3 {
  font-family: 'Licorice';
  color: rgba(56, 206, 181, 0.701);
  font-size: 45px; 
  min-width: 450px;
  max-height: 300px;
  text-align: center;
  padding: 1px;
  background-color: rgba(58, 57, 56, 0.372);
  margin-top: 10rem; 
  border-radius: 10px;
  border: 5px solid rgb(237, 159, 117);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 111%;
  max-width: 1310px;
  height: 110px
}

nav li  {
  display:inline-block;
  width: 40%;
  height: 110px;
  line-height: 110px;
  text-align: center;
  border-left: 5px solid rgb(237, 159, 117);
  box-sizing: border-box;
  transition: all .3s ease-in-out
  }

  a:link, a:visited {
    padding: 0px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  } 
   
  a:hover, a:active {
    background-color: rgba(78, 228, 180, 0.982);
  }

  nav li:last-child {
    border-right: 5px solid rgb(237, 159, 117)
  }

.location{
  font-family: 'cinzel';
  width: fit-content;
}

.box-2{
  top: -500px;
  position: relative;
  margin: 2rem;
  border-radius: 10px;
  border: 5px solid rgb(237, 159, 117); 
  display:flex;
  justify-content:center;
  align-items: center;
}

.title{
  font-family: 'Licorice';
  font-size: 100px;
  color: coral;
  padding: 1rem;
  border-radius: 10px;
  border: 20px solid rgb(0, 0, 0);
  background-color: rgb(98, 148, 157);
}

.box-1{
  color: rgba(127, 255, 212, 0.639);
  text-align: center;
  font-family: 'josefin sans';
  font-size: 70px;
  background-color: rgba(0, 0, 0, 0.536);
}

.story{
  font-family:'open sans';
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.406);
  border-radius: 10px;
  border: 15px solid rgb(237, 159, 117);
  padding: 50px;
  margin: 30px;
}

.store_breakdowns{ 
  background-color: rgba(0, 0, 0, .7); 
}

.table{
  padding: 2rem;
  align-content: center;
  margin-top: 50px;
  table-layout: fixed;
  width: 100%;
}

h1{
  text-align: center;
  font-size: 70px;
}

.picture{
  background-image: url("../img/cookies.jpg");
  background-color: #060606; 
  height: 100px; 
  background-position: center; 
  background-repeat:no-repeat; 
  background-size: cover; 
  color: rgb(194, 191, 191);
} 

.sales-picture{
  background-image: url("../img/cookies 2.jpg");
  background-size:2000px ;
}

table, td, th {
  border: 1px solid rgb(237, 159, 117);
}

td, th {
  padding: 1rem;
  color: azure;
}

thead th {
  font-weight: bold;
  background-color:rgb(93, 111, 111);
  color: white;
}

tfoot {  
  background-color: rgba(112, 159, 165, .1);
}

.home-page {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1600px;
  height: 50px;
}

.button{
  display: flex;
}

.home-2 {
  font-family:'Licorice';
  color: coral;
  font-size: 50px;
  width: 10%;
  border-left: 5px solid rgb(237, 159, 117);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  transition: all .3s ease-in-out;
  margin-top: -2rem;
  cursor:pointer;
}

.home-2:link, a:visited {
  background-color: #41464597;
  color: rgb(228, 143, 97);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.home-2:hover, a:active {
  background-color: rgba(98, 148, 157, 0.886);
}

.home-2 {
	transform: scale(1);
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.tech-slideshow {
  border-radius: 10px;
  border: 5px solid rgb(237, 159, 117);
  padding: 50px;
  height: 150px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  opacity: .5;
  width: 5030px;
  background: url(../img/combine_images-3.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

p{
  color: rgb(160, 163, 165);
  font-family:'open sans';
  font-size: 20px;
  font-weight: bold;
  margin-top: 0rem;
}

section{
  margin-top: 2rem;
  background-color: rgba(58, 57, 56, 0.235);
  border-radius: 10px;
  border: 5px solid rgb(237, 159, 117);
  width: 225px;
  height: 400px;
  display: flex;
  justify-content:center; 
  flex-wrap:wrap; 
  align-content:center; 
  padding: 150px;
}

.store-names{
  color: rgba(237, 159, 117, 0.598);
  font-family: 'poppins';
  font-size: 25px;
}

.contact{
  color:rgba(237, 159, 117, 0.529) ;
  font-family: 'poppins';
  font-size: 25px;
}

/*This is my Form CSS*/

.add-store{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.434);
}

@keyframes color-change {
  0% {color: coral;}
  50%{color: cyan;}
  100% {color: rgb(236, 237, 236);}
}

.add-store {
  animation: color-change 4s infinite;
}


form {
  color:rgb(255, 255, 255);
  width: 35%;
  margin-top: -5rem;
  margin-left:60%;
}
fieldset {
  background-color: rgba(0, 0, 0, 0.557);
  border: 1px solid coral;
  border-radius: 10px;
  width: 100%;
}
legend {
  font-family:'poppins';
  color:coral;
  font-size: 30px;
  text-transform: uppercase;
  /* background-color: rgb(98, 148, 157); */
  
}

label{
  color: aliceblue;
  font-family:'poppins';
  font-size: 20px;
}

textarea,
label,
input {
  display: block;  
}

textarea,
input {
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
  color: rgb(255, 250, 250);
  background-color: rgba(126, 122, 120, 0.495);
  margin-bottom: 1rem;
  font-size: 15px;
}

button{
  font-family:'licorice';
  color:  coral;
  font-size: 35px;
  background-color:rgb(98, 148, 157);
  border-radius: 50px;
  padding: 16px 32px;
  text-align: center;
  margin: 4px 2px;
  /* opacity: 0.2; */
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}

button:hover{
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}